src/**/[Ll]ibrary/
src/**/[Tt]emp/
src/**/[Oo]bj/
src/**/[Bb]uild/
src/**/[Bb]uilds/
src/**/[Ll]ogs/
src/**/[Mm]emoryCaptures/
!src/**/[Aa]ssets/**/*.meta
src/**/[Aa]ssets/AssetStoreTools*
src/**/[Aa]ssets/Plugins/Editor/JetBrains*
src/**/.vs/
src/**/.vscode/
src/**/.gradle/
src/**/ExportedObj/
src/**/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
src/**/sysinfo.txt
*.unitypackage
src/**/crashlytics-build.properties
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db